body{
  font-family:"fantasy";
}

h1{
  font-family: "Sacramento";
  font-size: 4.5rem;
  color: blue;
  line-height: 1.5;
  font-weight: 900;
}
h2{
line-height: 1.5;
font-size: 2.5rem;
font-family:"Montserrat";
font-weight: bold;
}
h3{
  font-family:"Montserrat";
  font-weight: bold;
}
p{
  color: #8f8f8f;
}

#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 6%;

}
/* navigation bar */
.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}
.nav-item{
  font-size: 1.3rem;
  padding: 0 18px;
}
/* Download button */
.Download-button{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* features id */
#features{
  font-family: "Montserrat";
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-box{
  text-align: center;
  padding: 5%;
}
.icons{
  color: blue;
    margin-bottom:1rem;

}
.icons:hover{
  color: yellow;
}
/* testimonials */
#testimonials{
  padding: 2% 20%;
  text-align: center;
  background-color: #899857;

}
.carousel-item{
  padding: 4% 10%;
}
.rou{
    border-radius: 100%;
   padding:0.25% ;

}
.carousel-indicators{
margin: auto;
}
.testimonials-image{
  width: 15%;
  border-radius: 100%;
  margin: 10px;
}
#press{
  background-color: #899857;
  text-align: center;
  padding-bottom: 5%;
}
.press-logo{
  width: 15%;
  margin: 10px 20px 0 0;
}

/* pricing section */

#pricing{
  padding: 5% 5% 3% 5%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* cta section */
#cta{
  background-color: #cd6684;
  color:#fff;
  text-align: center;
  padding: 2% 15%;
}
.cta-heading{
  font-family:"Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
 /* footer section */
 #footer{
   padding: 7% 15%;
   text-align: center;
 }
.social-icons{
  padding: 0 1%;
}
/* media query */
@media (max-width:990px)
 {
   #title{
     text-align: center;
   }
   .title-image{
     position: static;
     transform: rotate(0);
   }
}
